@import 'node_modules/ember-frost-core/addon/styles/addon';
@import './ember-frost-buckets';

.frost-buckets {
  height: 700px;

  .frost-non-selected-bucket,
  .frost-selected-bucket {
    margin: 5px;
  }
}

.code-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 700px;
  float: right;
}
